#navbar{
    background-color: #FF7001;
    padding: 4px 0;
}
#navbar ul{
    display: flex;
    margin: 0;
    padding: 0;
}
#navbar ul li{
    margin-right: 26px;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    transition: .3s;
}
a:hover{
    color: #434757;
}
.right-menu{
    display: flex;
    align-items: center;
    justify-content: end;
}
.right-menu a{
    margin-right: 16px;
}
.right-menu button{
    padding: 5px 16px;
    color: #ffffff;
    background: #141414;
    border: 1px solid #141414;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 37px;
}
#header{
    margin: 19px 0;
    display: flex;
    align-items: center;
}
#selectBtn{
    width: 170px;
    height: 40px;
}
#selectBtn:hover{
    border: none;
}
#header-input input{
    width: 425px;
    padding: 9px 12px;
}
#header-input input:focus{
    border: 1px solid transparent;
    box-shadow: 0 0 5px #FF7001;
}
#header-input button{
    font-family: 'Roboto';
    padding: 9px 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    background-color: #141414;
    color: #ffffff;
}